#footer {
    margin-top:2em;
    background-color:#4CAF50;
}


.box {
    margin-top:8px;
    margin-bottom:8px;
}

.linEdge {
    margin-bottom:2em;
    box-shadow:         1px -1px 5px 0px rgba(98, 245, 54, 0.75);
}

#file-input { 
    display: none;
}

.boxCat{
    margin-top:2em;
    margin-bottom:2em;
}