<div class="home">
<h1>HOME</h1>
</br>
</br>
</br>
</br>
<em>
<p> La barra di navigazione in ALTO ti permette di muoverti tra le pagine dell' applicazione</p>

<p><strong> - Home</strong> ti riporta a questa pagina</p>

<p><strong> - Categorie</strong> ti permette di visualizzare le liste dei giocatori per categoria,
                              dove al suo interno potrai andare a vedere in <strong>DETTAGLIO</strong>
                              i suoi dati personali</p>
<p><strong> - DETTAGLIO</strong> In questa sezione puoi fare L'UPDATE e il DELETE del profilo</p>

<p><strong> - Aggiungi</strong> ti permette di aggiungere all'applicazione un nuovo giocatore </p>                              
<p> Tutta questa app è rigorosamente collegata a un Db esterno che permette il salvataggio dei dati<p>
</em>
</div>