<h2>Creazione nuovo profilo</h2>
<h2><em>{{profile.name}} {{profile.cognome}}</em> </h2>

<form id="newProfile" name="newProfile" ng-submit="save(profile)" novalidate autocomplete="off">
<md-input-container flex>
<label layout-align="center right"><em><strong>Categoria:</strong></em></label>
  <md-select placeholder="Scegli la categoria " ng-model="profile.categoria" required>
      <md-option ng-repeat="categoria in ::categorie" value="{{categoria}}">
        {{categoria}}
      </md-option>
  </md-select>
</md-input-container>

<hr class="linEdge" />

  <div layout="row" layout-align="start">
  
    <div flex layout="column" layout-align="start center">
      
      <img src="{{profile.image}}" ng-model="profile.image" ng-init="profile.image = 'immagini/addAvatar.jpg'" alt="Avatar" style="margin-bottom:3em;margin-top:3em;"/> 
        <md-button class="md-raised md-accent" type="button">
          <label for="file-input" ng-model="profile.image" >Inserisci Avatar</label>  
        </md-button>
        <input id="file-input" type="file">
    </div>

    <div flex="15"></div>
    
    <div flex="65" layout="column">

      <content ng-init="show=true"ng-show="show==true">
          
          <h4 style="border-bottom: 1px solid black;padding-bottom: 10px;margin-bottom:1em;"><em>Dati Anagrafici</em></h4>
          <div layout="row" layout-align="center center">
            <md-input-container flex>
              <label>Nome</label>
              <input ng-model="profile.name" placeholder="First name" required>
            </md-input-container>
            
            <md-input-container flex>
              <label>Cognome</label>
              <input ng-model="profile.surname" placeholder="Last Name">
            </md-input-container>
          </div>
          
          <div layout="row" layout-align="center center">
            <md-input-container flex>
              <label>Anno di nascita</label>
              <input ng-model="profile.dataNasc" placeholder="11/11/11">
            </md-input-container>
            <md-input-container flex>
              <label>Sesso</label>
               <md-select ng-model="profile.sesso" >
                <md-option value="Maschile">Maschile</md-option>
                <md-option value="Femminile">Femminile</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row" layout-align="center center">
            <md-input-container flex>
              <label>Cittadinanza</label>
              <input ng-model="profile.cittadinanza" placeholder="Cittadinanza">
            </md-input-container>
            <md-input-container flex>
              <label>Codice Fiscale</label>
              <input ng-model="profile.codFisc" placeholder="codice fiscale">
            </md-input-container>
          </div>
          
          </br>
          <h4 style="border-bottom: 1px solid black;padding-bottom: 10px;margin-bottom:2em;"><em>Luogo di nascita</em></h4>
          <div layout="row" layout-align="center center">
            <md-input-container flex>
              <label>Comune</label>
              <input ng-model="profile.comuneAnag" placeholder="Comune">
            </md-input-container>
           
             <md-input-container flex>
              <label>Provincia</label>
               <md-select placeholder="Provincia  " ng-model="profile.provAnag">
                    <md-option ng-repeat="prov in ::provincie" value="{{prov.abbrev}}">
                    {{prov.abbrev}}
                    </md-option>
                </md-select>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container flex>
              <label>Nazione</label>
              <input ng-model="profile.nazioneAnag" placeholder="Nazione" >
            </md-input-container>
          </div>
      </content>
              
      <content ng-init="show=true" ng-show="show==false">
          <h4 style="border-bottom: 1px solid black;padding-bottom: 10px;margin-bottom:2em;"><em>Dati Domiciliari</em></h4>
           <div layout="row">
            <md-input-container flex>
              <label>Indirizzo</label>
              <input ng-model="profile.indirizzo" placeholder="Indirizzo" >
            </md-input-container>
            
            <md-input-container flex>
              <label>Comune</label>
              <input ng-model="profile.comuneDom" placeholder="Comune"  >
            </md-input-container>
            <md-input-container flex>
              <label>CAP</label>
              <input ng-model="profile.capDom" placeholder="11111"  >
            </md-input-container>
            
          </div>
            
          <div layout="row">
            <md-input-container flex>
              <label>Provincia</label>
                <md-select placeholder="Provincia " ng-model="profile.provDom">
                    <md-option ng-repeat="prov in ::provincie" value="{{prov.abbrev}}">
                    {{prov.abbrev}}
                    </md-option>
                </md-select>
            </md-input-container>
          </div>

          <h4 style="border-bottom: 1px solid black;padding-bottom: 10px;margin-bottom:1em;"><em>Recapiti</em></h4>
          <div layout="row" layout-align="center center">
            <md-input-container flex>
              <label>Email</label>
              <input ng-model="profile.email" placeholder="email@host.dom" >
            </md-input-container>
            
            <md-input-container flex>
              <label>Telefono</label>
              <input ng-model="profile.tel" placeholder=" 0542-380912"  >
            </md-input-container>
          </div>
          
          <div layout="row" layout-align="center center">
            <md-input-container flex>
              <label>Cellulare 1</label>
              <input ng-model="profile.cell1" placeholder=" +39-6666666"   >
            </md-input-container>
            <md-input-container flex>
              <label>Cellulare 2</label>
                <input ng-model="profile.cell2" placeholder=" +39-6666666"   >
            </md-input-container>
          </div>
          <h4 style="border-bottom: 1px solid black;padding-bottom: 10px;margin-bottom:1em;"><em>Altri Dati Sportivi</em></h4>
          <p><em> Da implementare </em></p>
      </content>

      <div layout="row" layout="end center">
        <md-button class="md-raised md-accent" type="button" ng-click="show==true ? show=false : show=true ">Altri Dati</md-button>
        <md-button type="submit" class="md-raised md-accent" ng-disabled="newProfile.$invalid" ng-show="show==false">Crea</md-button>
      </div>
    </div>

  </div>
</form>
