
    <h2 layout="row" ><em>Categorie</em></h2>
    
    <div layout="row">
        <md-input-container flex="45">
        <label>Search</label>
        <input ng-model="search_filter">
        </md-input-container>
       
        <div flex></div>
        <md-input-container flex="45">
            <label>Categorie</label>
                <md-select  ng-init="selectTeam = 'Scuola Calcio'" ng-model="selectTeam">
                  <md-option ng-repeat="categoria in ::categorie" value="{{categoria}}">
                    {{categoria}}
                  </md-option>
                  <md-option value="all">
                    All
                  </md-option>
                </md-select>
        </md-input-container>
    </div>

<div ng-repeat="categoria in categorie">
   
    <div ng-show=" selectTeam == categoria || selectTeam == 'all' ">
        <h3>{{categoria}}</h3>
        <div ng-repeat=" player in teams | filter:categoria | filter:search_filter">
            <div class="box" layout="row"  layout-align="center center">
                <div flex>
                    <img width="60" ng-src="{{player.image}}">
                </div>
                <div flex> {{player.name}} {{player.surname}}</div> 
                <div flex> {{player.dataNasc}} </div>
                <md-button class="md-raised" ui-sref="list.details({id:player._id})"><span>Details</span></md-button>
            </div>
            <hr />
        </div>
    </div>
</div> 
