<div class="md-toolbar-tools">
  <div class="menu" layout="row" layout-align="center">
    <img src="immagini/ball.png" height="50" alt="Description"/>
    <md-button ui-sref="home">Home</md-button>
    <md-button ui-sref="list.categorie">Categorie</md-button>
    <md-button ui-sref="insert">Aggiungi</md-button>
  </div>
  <span flex></span>
</div>